<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Seeds and Furtilizers</title>

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	
	$("#countries").change(function(){
		var countryId=$("#countries").val();
		$.ajax({
			type:"POST",
			url:"loadStates?countryId="+countryId,
			dataType:"json",
			success:function(response){
				var option;
				console.log(response);
				option="<option value='0'>Select</option>";
				$.each(response,function(key,state){
					option+="<option value="+state.id+">"+state.name+"</option>"; 
				});
				$("#states").html(option);
			},
			error:function(jq,textStatus,errorThrown){
				console.log(textStatus+" "+errorThrown);
			}
		});
	})
	
	$("#states").change(function(){
		var stateId=$("#states").val();
		$.ajax({
			type:"POST",
			url:"loadCities?stateId="+stateId,
			dataType:"json",
			success:function(response){
				var option;
				console.log(response);
				option="<option value='0'>Select</option>";
				$.each(response,function(key,city){
					option+="<option value="+city.id+">"+city.name+"</option>"; 
				});
				$("#cities").html(option);
			},
			error:function(jq,textStatus,errorThrown){
				console.log(textStatus+" "+errorThrown);
			}
		});
	})
	
})
</script>
<style>
/* css Reset  */
body {
	margin: auto;
	
	background: url('./img/soybean-growth-farm-with-blue-sky-background-agriculture-plant-seeding-growing-step-concept_34152-1899.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.left {
	display: inline-block;
	position: absolute;
	top: 20px;
	left: 20px;
}

.left img {
	width: 55px;
}

.centar {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 20%;
}

.text {
	font-size: 12px;
}

.left div {
	text-align: center;
	font-size: 13px;
}

.mid {
	display: block;
	width: 40%;
	margin: 20px auto;
}
/* position lhil karn aply la serch box right side la phije */
.right {
	position: absolute;
	top: 20px;
	right: 20px;
	display: inline-block;
}

.navbar {
	display: inline-block;
}
/* yacha ni kay hote je sarl colum madhe yte te row madhe convert hote */
.navbar li {
	display: inline-block;
	font-size: 15px;
}

.navbar li a {
	color: white;
	text-decoration: none;
	padding: 20px 10px;
}

.navbar li a:hover, .navbar li a.active {
	text-decoration: underline;
	color: black;
}

.btn {
	border-radius: 4px;
	cursor: pointer;
}

input {
	border-radius: 20px;
}

.Loginid {
	border: 2px solid black;
	margin: 106px 80px;
	padding: 75px;
	width: 33%;
	border-radius: 28px;
}

.Loginid input {
	display: block;
	padding: 3px;
	text-align: center;
	margin: 3px auto;
	width: 260px;
}

.Loginid h1 {
	text-align: center;
	font-size: 21px;
}

.form.group input {
	display: block;
	margin: auto;
}

.Loginid button {
	display: block;
	margin: auto;
}
</style>
</head>

<body>
	<header class="header">
		<!-- left box for logo -->
		<div class="left">
			<img src="./img/Logo Agriculture3.jpg" alt="" class="centar">
			<div class="text">Seeds and Fertilizer</div>

		</div>
		<!-- mid  box for navbar -->
		<div class="mid">
			<ul class="navbar">
				<li><a href="#" class="active">Home</a></li>
				<li><a href="#">All categoury</a></li>
				<li><a href="#">contact us</a></li>
				<li><a href="#">about</a></li>
				<li><a href="#">help</a></li>
			</ul>
		</div>
		<!-- right box for serch button -->
		<div class="right">
			<button class="btn">cart</button>
			<input type="text" placeholder="Search.. ">

		</div>
	</header>
	<div class="Loginid">
		<h1>Order Best Seeds and Fertilizer products</h1>
		<form action="form.php">
			<div class="form.group">
				<input type="text" name="" placeholder="Enter your full name">
			</div>
			<div class="form.group">
				<input type="text" name="" placeholder="Enter your age">
			</div>
			<div class="form.group">
				<input type="text" name="" placeholder="Enter your adrees line1">
			</div>
			<div class="form.group">
				<input type="text" name="" placeholder="Enter your adrees line2 ">
			</div>

			<!-- Select Basic -->
			<div class="form-group">
				<label class="col-md-4 control-label" for="countries">Countries</label>
				<div class="col-md-5">
					<select id="countries" name="countries" class="form-control" >
						<option value="0">Select</option>
						 <option th:each="country : ${countries.entrySet()}" th:value="${country.key}" th:text="${country.value}">
					</select>
				</div>
			</div>

			<!-- Select Basic -->
			<div class="form-group">
				<label class="col-md-4 control-label" for="states">States</label>
				<div class="col-md-5">
					<select id="states" name="states" class="form-control">
						<option value="0">Select</option>
					</select>
				</div>
			</div>

			<!-- Select Basic -->
			<div class="form-group">
				<label class="col-md-4 control-label" for="cities">Cities</label>
				<div class="col-md-5">
					<select id="cities" name="cities" class="form-control">
						<option value="0">Select</option>
					</select>
				</div>
			</div>
			<button class="btn">Submit</button>
		</form>
	</div>
</body>
</html>